{% extends 'index.html' %}
{% block title %}
  About Us
{% endblock %}

{% block body %}
    <div class="container">
      <div class="jumbotron">
        <h3>
          IndianCharity online donation and membership software is designed to focus on catering to the needs and requirements of charity, foundation and church groups/agencies. This software solution covers all the essential features and functions that would be required to run a charity, foundation or church.
          <br>
          <br>
          <br>
          IndianCharity is a web-based relationship management solution that also caters to non-profit and non-governmental groups/agencies. It has special features that enhance community participation, supports multi-site organizations and networks, stores and manages information on donors/individuals as well as organizations.
          <br>
          <br>
          <br>
          IndianCharity helps you maintain and manage various records and details such as correspondence and transactions. It is a powerful contact, fundraising, and donors and volunteer relationship system that help you to manage your donors, employees, volunteers, and more.
        </h3>
      </div>

    </div>
    {% block carousel %}
    {% endblock %}


{% endblock %}
