<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
        IndianCharity
      {% endblock %}
    </title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Satisfy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid" style="margin-bottom:15px; margin-top:15px">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavbar" name="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-center" href="{% url 'pro_app:index' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;
            Home</a>
        </div>

      <div class="collapse navbar-collapse" id="topNavbar">
        <ul class="nav navbar-nav">
          <li>
            <a href="{% url 'pro_app:about' %}">
              <span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;
              About Us
            </a>
          </li>
          <li>
            <a href="{% url 'pro_app:donate-add' %}">
              <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>&nbsp;
              Donate
            </a>
          </li>

          <li>
            <a href="{% url 'pro_app:lastnews' %}">
              <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>&nbsp;
                Last News
            </a>
          </li>
          <li>
            <a href="{% url 'pro_app:contact' %}">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
              Contact Us
            </a>
          </li>

        </ul>
        <ul class="nav navbar-nav justify-content-center">

                {% if user.is_authenticated %}
                  <li>
                    <a href="{% url 'logout' %}">
                      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;

                      Logout</a>
                  </li>
                {% else %}
                  <li>
                    <a href="{% url 'login' %}">
                      <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;
                        Login
                    </a>
                  </li>

                  <li>
                    <a href="{% url 'register' %}">
                      <span class="fa fa-user-circle" aria-hidden="true"></span>&nbsp;
                       Register
                    </a>
                  </li>
                {% endif %}

              </ul>

      </div>
    </div>

    </nav>
    {% block carousel %}
    <div class="imag">
        <div class="container-fluid">
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" style="margin-bottom:40px; margin-top:40px;">
                  <div class="item active">
                    <img src="{% static 'images/donate.jpg' %}" alt="Los Angeles" style="width:100%; height:650px; max-height:650px; margin:auto;display:block;">
                  </div>

                  <div class="item">
                    <img src="{% static 'images/things.png' %}" alt="Chicago" style="width:100%; height:650px; max-height:650px; margin:auto;display:block;">
                  </div>

                  <div class="item">
                    <img src="{% static 'images/donation.jpg' %}" alt="New york" style="width:100%; height:650px; max-height:650px; margin:auto;display:block;">
                  </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
      </div>




<div class="container">

      <div class="row">
          <div class="col-sm-4">
            <img class="card-img-top" src="{% static 'images/image2.jpg' %}" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Charitable-Donation </h4>
              <p class="card-text">The charitable-giving deduction will be claimed on about 15 million returns for 2018, down from about 36 million returns for 2017, by one estimate.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <img class="card-img-top" src="{% static 'images/charity.jpg' %}" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Charitable-Donation </h4>
              <p class="card-text">The charitable-giving deduction will be claimed on about 15 million returns for 2018, down from about 36 million returns for 2017, by one estimate.</p>
            </div>
          </div>
          <div class="col-sm-4">
            <img class="card-img-top" src="{% static 'images/images.jpg' %}" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">CAPTCHA </h4>
              <p class="card-text">Completing the CAPTCHA proves you are a human and gives you temporary access to the web property.</p>
            </div>
          </div>
      </div>
</div>

{% endblock %}

{% block body %}
{% endblock %}

{% block button %}

<div class="container">
  <button type="button" class="btn btn-success btn-lg btn-block" style="margin-bottom:45px; margin-top:15px">
      <a href="{% url 'pro_app:donate' %}">Donate</a>
    </button>
</div>
{% endblock %}

  </body>
</html>
